<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Registrer bruger </h3>

<form method="post" th:action="@{/registrerbruger}">
    <!--
    th:action sender form-dataen til /registrerbruger endpointet
    method="post" bruges så username og password ikke vises i URL'en
    -->

    Username <input type="text" name="username">
    Password <input type="password" name="password">

    <button type="submit">Registrer</button>
</form>

</body>
</html>